body {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 100px;
    color: khaki;
    background-image: url("../images/pattern.jpg");
    text-align: center;
}

.price {
    font-weight: bold;
    color: blue;
}